{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>OʼZBEKISTON RESPUBLIKАSI VАZIRLАR MАHKАMАSINING QАRORI</h2>
            <p>
                OʼZBEKISTON RESPUBLIKАSI VАZIRLАR MАHKАMАSINING QАRORI

Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasi huzurida “Oʼrmontexnoservis” davlat unitar korxonasi faoliyatini tashkil etish toʼgʼrisida

Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasi tizimida zamonaviy axborot-kommunikatsiya texnologiyalarini yanada rivojlantirish, ommaviy axborot vositalari bilan ishlashni takomillashtirish hamda oʼrmon xoʼjaligini yuritish amaliyotiga fan yutuqlari va ilgʼor tajribani joriy etish maqsadida, Vazirlar Mahkamasi qaror qiladi:

1. Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasi, Аxborot texnologiyalari va kommunikatsiyalarini rivojlantirish vazirligi, Innovatsion rivojlanish vazirligi hamda Xususiylashtirilgan korxonalarga koʼmaklashish va raqobatni rivojlantirish davlat qoʼmitasining Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasi huzurida “Oʼrmontexnoservis” davlat unitar korxonasini (keyingi oʼrinlarda – “Oʼrmontexnoservis” DUK deb ataladi) tashkil etish toʼgʼrisidagi taklifiga rozilik berilsin.,

2. Quyidagilar “Oʼrmontexnoservis” DUKning asosiy vazifalari etib belgilansin:

oʼrmon xoʼjaligi sohasida axborot xavfsizligini taminlash
va kommunikatsiya tarmoqlari, dasturiy mahsulotlar, axborot tizimlari
va resurslarini joriy etish hamda ularni himoya qilishning zamonaviy texnologiyalarini joriy etish, ularni yanada takomillashtirish;

oʼrmon xoʼjaligini yuritish amaliyotiga fan yutuqlari va ilgʼor tajribani, shu jumladan dronlar bilan ishlash tizimini amaliyotga tadbiq etish;

Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasining axborot xizmatini amalga oshirish, shu jumladan axborot siyosatini shakllantirish va amalga oshirishda qatnashish, ommaviy axborot vositalari bilan ishlashni yanada takomillashtirish;

Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasi tizimida axborot-kommunikatsiya texnologiyalarini joriy etish
va rivojlantirishning holatini tizimli monitoring qilish.

3. Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasi va uning tizimidagi barcha tashkilotlarga axborot-kommunikatsiya texnologiyalari boʼyicha xizmat koʼrsatish, jumladan, serverlarga, telekommunikatsiya uskunalariga, kompyuterlarga, ofis uskunalariga xizmat koʼrsatish, dasturiy taʼminot va texnik hujjatlarni ishlab chiqish hamda axborot xavfsizligini taʼminlash yuzasidan “Oʼrmontexnoservis” DUK bilan, istisno tariqasida, toʼgʼridan-toʼgʼri shartnoma tuzishga ruxsat berilsin.

4. Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasiga bir oy muddatda “Oʼrmontexnoservis” DUKning:

ustavini tasdiqlash va belgilangan tartibda davlat roʼyxatidan oʼtkazish;

tuzilmasi va shtatlar jadvalini tasdiqlash;

moddiy-texnika bazasini shakllantirish hamda malakali kadrlar bilan taʼminlash choralarini koʼrish yuklatilsin.

5. Belgilab qoʼyilsinki, “Oʼrmontexnoservis” DUK faoliyatini moliyalashtirish va moddiy-texnika taʼminoti:

xoʼjalik faoliyatidan;

xalqaro moliya institutlari, xorijiy hukumat va hukumatga qarashli boʼlmagan tashkilotlarning begʼaraz texnikaviy koʼmagi (grantlari);

shuningdek qonun hujjatlarida taqiqlanmagan boshqa manbalardan tushadigan mablagʼlar hisobiga amalga oshiriladi.

6. Mazkur qarorning bajarilishini nazorat qilish Oʼzbekiston Respublikasi Bosh vazirining oʼrinbosari Z.T.Mirzaev va Oʼzbekiston Respublikasi Oʼrmon xoʼjaligi davlat qoʼmitasi raisi N.J.Bakirov zimmasiga yuklatilsin.





Oʼzbekiston Respublikasi

Bosh vaziri А.Аripov
            </p>
        </div>
    </div>

{% endblock %}